@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);

}

.container {
    width: 100%;
    max-width: 1200px;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.container .box {
    width: 30%;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    padding-top: 30%;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .box:hover {
    background-color: #6797ff;
    backdrop-filter: opacity(0.2);
    border-color: #ffffff;
}

.container .box-logOut:hover {
    background-color: rgb(255, 126, 126);
}

.box i {
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: #fff;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: absolute;
    bottom: 20%;
    transform: translate(-50%, -50%);
    left: 50%;

}

ul,
ol,
li {
    list-style: none;
}

@media (max-width: 768px) {
    .container .box {
        width: 100%;
        padding-top: 50%;
    }
}