@import 'navbar.css';

.title {
    font-size: 400%;
    font-weight: bold;
    margin-top: 10%;
    float: left;
}

.lead {
    float: left;
}

@media (min-width: 768px) {

    #footer {
        float: left;
        text-align: center;
    }

}