@media (min-width: 768px) {

    body {
        padding-top: 72px;
    }

    .navbar-brand {
        margin-left: 20%;
        font-size: 35px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;

    }

    .navbar {
        height: 70px;
    }

    #logo {
        width: 40px;
        height: 40px;
    }


}

@media (max-width: 767px) {

    .navbar-brand {
        margin-left: 0%;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
    }

}

body {
    padding-top: 56px;
    font-family: "Montserrat", sans-serif;


}



#footer {
    background-color: #242424;
    color: white;
    height: 80px;
}

.property-table th,
.property-table td {
    text-align: center;
}

.collapse {
    margin-right: 20%;
}